* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
}

#three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#file-input {
  z-index: 1;
  position: absolute;
}

.title {
  font-size: 400%;
  position: absolute;
  width: 100%;
  text-align: center;
  animation: rainbow 3s infinite;
}

@keyframes rainbow {
  12% {
    color: #ff5353;
  }
  24% {
    color: #ffcf53;
  }
  36% {
    color: #e8ff53;
  }
  48% {
    color: #53ff5d;
  }
  60% {
    color: #53ffbc;
  }
  72% {
    color: #5393ff;
  }
  84% {
    color: #ca53ff;
  }
  100% {
    color: #ff53bd;
  }
}
